@import 'variables';

body {
  font-family: "Roboto Condensed", sans-serif;
}

#container {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: white;
  position: relative;
  z-index: 20;
}

.focus-top {
  object-position: top;
}

.focus-bottom {
  object-position: bottom;
}
