@import 'variables';

#header,.menu-header {
  height: 220px;
  background-image: linear-gradient(to bottom, #E9670B, $red);
  .inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .header-bg {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 100%;
      height: 60%;
      background: url('../layout/header-bg-transparent.svg') no-repeat bottom/cover;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      z-index: 10;
    }
    .header-content {
      position: relative;
      width: 90%;
      max-width: 800px;
      height: 70%;
      margin: 0 auto;
      padding: 15px 0;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      z-index: 20;
      .header-right {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 60px;
        padding-top: 27px;
        > div {
          width: 100%;
          text-align: center;
        }
        .header-bookmark img {
          width: 30%;
          text-align: center;
        }
        .mobile_menu_trigger,.menu-close {
          position: relative;
          width: 60px;
          height: 60px;
          margin-bottom: 15px;
          &:after {
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,.2);
            border-radius: 50%;
            transition: background-color 250ms;
          }
          &:hover:after {
            background-color: rgba(255,255,255,.4);
          }
          img {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
      .header-left {
        display: flex;
        flex-wrap: wrap;
        width: 160px;
        > div {
          width: 100%;
        }
        .ce_form {
          margin-top: auto;
          .formbody {
            position: relative;
            .widget {
              input {
                display: block;
                width: 100%;
                box-sizing: border-box;
                border-radius: 15px;
                border: none;
                padding: 6px 10px;
                outline: none;
                font-size: 13px;
              }
              &.widget-submit {
                position: absolute;
                top: -5px;
                right: 9px;
                input {
                  padding: 0;
                  width: 20px;
                  height: 36px;
                  object-fit: contain;
                }
              }
            }
          }
        }
        .ce_image figure img {
          width: 100%;
        }
      }
    }
    .header-bottom {
      width: 100%;
      .header-navigation {
        display: flex;
        align-items: center;
        height: 100%;
        ul {
          opacity: 1;
          display: flex;
          justify-content: space-around;
          width: 90%;
          margin: 0 auto;
          padding: 0;
          list-style: none;
          li {
            display: flex;
            align-items: center;
            a,strong {
              display: inline-block;
              height: 30px;
              color: $orange;
              text-decoration: none;
              position: relative;
              padding-left: 30px;
              width: 0;
              overflow: hidden;
              &:before {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
            strong:before {
              filter: brightness(0) invert(1);
            }
            &:first-child a:before,&:first-child strong:before {
              background-image: url('../layout/baeume.svg');
            }
            &:nth-child(2) a:before,&:nth-child(2) strong:before {
              background-image: url('../layout/kompass.svg');
            }
            &:nth-child(3) a:before,&:nth-child(3) strong:before {
              background-image: url('../layout/schild.svg');
            }
            &:nth-child(4) a:before,&:nth-child(4) strong:before {
              background-image: url('../layout/buch.svg');
            }
            img {
              height: 35px;
            }
          }
        }
      }
    }
  }
}
