@import 'variables';

.headline {
  background: $brown;
  color: white;
  h1 {
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: 20px auto 0;
    border-bottom: 2px dotted white;
    padding-bottom: 10px;
  }
  h2 {
    text-align: center;
    font-size: 21px;
    margin-top: 10px;
  }
}

#main .mod_article {
  .ce_text {
    h2,h3,h4,h5 {
      width: 90%;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      font-size: 19px;
      font-weight: 300;
      a {
        color: $orange;
        text-decoration: none;
      }
    }
  }
  &:not(.title-image) > .ce_image {
    margin-bottom: 40px;
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
  &:not(:first-child) {
    margin: 20px 0;
  }
  &:nth-last-child(2) {
    margin-bottom: 0;
    > *:last-child:not(.link-to-next-station) {
      margin-bottom: 80px;
    }
  }
  &.title-image {
    margin-top: 0;
    margin-bottom: 20px;
    &:not(:first-child) {
      margin-top: 0;
    }
    img {
      max-height: 30vh;
      object-fit: cover;
    }
  }
}

#main .mod_article > .ce_image {
  figure {
    img {
      width: 100%;
      margin-bottom: -6px;
    }
    figcaption {
      padding: 20px;
      color: white;
      background: $orange;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
}

.ce_image.has-caption,.rsts-end-helper {
  position: relative;
  z-index: 10;
  + div {
    @include after-figcaption;
  }
}

.to-top-button {
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  z-index: 100;
  width: 50px;
  transition: transform 250ms;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: $mobile) {
  #main .mod_article:not(:first-child) {
    margin: 80px 0;
  }

  #main .mod_article:not(:first-child)

  .title-image img {
    width: 100%;
    max-height: 35vh;
    object-fit: cover;
  }

  #main .mod_article .ce_text p {
    line-height: 1.5em;
  }
}
